<ion-view title="{{title}}" hide-back-button="true">
	<ion-nav-buttons side="right">
		<i class="button button-icon icon ion-ios7-compose-outline s-color" ng-click="newChat()"></i>
	</ion-nav-buttons>
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap s-start" >
				<h2 class="padding-bottom" ng-bind="textHeader">Start chatting with Stranger</h2>
				<button class="button button-positive" ng-class="{'icon-left': !isLogin, 'ion-social-facebook': !isLogin}" ng-click="newChat()" ng-bind="titleBtn"></button>
				<p class="padding-top">Login and make new chat means you agree to the <a href="javascript:void(0);" onclick="window.open('http://tienganhthatde.com/chat/privacy-policy.html', '_blank', 'location=yes');">Terms of Use and Privacy Policy</a></p>
			</div>
		</div>
	</ion-content>

	<div class="text-version">
		<p>Version 2.0</p>
		<p>&copy; 2014 by <a href="javascript:void(0);" onclick="window.open('fb://profile/397749680253863', '_system');"><strong>Tiếng Anh Thật Dễ</strong></a></p>
	</div>

</ion-view>